{% extends 'base.html' %} {% block content %}
<div class="section">
  <p class="has-text-centered is-size-4 has-text-weight-bold">
    Your Article is submitted. We'll text you once its published on our website.
  </p>
  <br />
  <p class="has-text-centered is-size-5">
    <a href="/">Go Home </a> <br />
    <a href="/quotes">Browse published quotes</a> <br />
    <a href="/stories">Browse published stories</a> <br />
    <a href="/poems">Browse published poems</a> <br />
  </p>
</div>
{% endblock %}
