{% extends 'base.html' %} {% block content %}

<div class="hero is-light">
  <div class="hero-head">
    <nav class="navbar is-spaced is-light is-fixed-top">
      <div class="navbar-brand">
        <div class="navbar-item">
          <p class="is-size-4">
            <sup
              ><span class="icon is-medium is-size-6">
                <i class="fas fa-quote-left"></i></span
            ></sup>
            <span class="has-text-black brand_name">Commoner "Quotes"</span>
          </p>
        </div>
        <a
          role="button"
          class="navbar-burger"
          data-target="navMenu"
          aria-label="menu"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link has-text-black articles">
              Articles
            </a>

            <div class="navbar-dropdown is-boxed">
              <a href="stories" class="navbar-item">
                Stories
              </a>
              <a href="quotes" class="navbar-item">
                Quotes
              </a>
              <a href="poems" class="navbar-item">
                Poems
              </a>
            </div>
          </div>
          <a href="submit_article" class="navbar-item has-text-black submit"
            >Submit a Article</a
          >
          <div class="navbar-item">
            <p class="icon"><i class="fab fa-instagram fa-1.5x"></i></p>
            <p class="icon"><i class="fab fa-facebook-square fa-1.5x"></i></p>
            <p class="icon"><i class="fab fa-twitter fa-1.5x"></i></p>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body" style="padding: 6rem 1.5rem 0 1.5rem;">
    <div class="columns">
      <div class="column is-hidden-mobile"></div>
      <div class="column is-7">
        <figure class="imgage">
          <img src="static/img/home_hero0.png" alt="" />
        </figure>
      </div>
      <div class="column is-5" style="display: flex; align-items: center;">
        <div class="has-text-centered-mobile">
          <p class="is-size-2 has-text-weight-bold has-text-black">
            Reach thousands of people with us.
          </p>
          <p class="is-size-4 is-size-5-mobile less_opacity has-text-black">
            Spread Positivity And Impact People Using Your Writing.
          </p>
          <a
            href="submit_article"
            class="button is-outlined is-medium is-black"
            style="margin-top: 20px;"
            ><span class="icon"><i class="far fa-file-alt"></i></span>
            <span>Submit Your Article Today</span>
          </a>
          <div class="notification is-hidden-touch"></div>
          <div class="notification is-hidden-touch"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="section has-text-centered">
    <p class="is-size-1 has-text-weight-bold is-size-3-mobile">
      My Views On Most Important Parts Of Life
    </p>
  </div>
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p class="is-size-4 has-text-weight-medium">Life Purpose</p>
            <p class="is-size-6 has-text-weight-thin">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
              beatae.
            </p>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p class="is-size-4 has-text-weight-medium">Personal Values</p>
            <p class="is-size-6 has-text-weight-thin">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
              beatae.
            </p>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p class="is-size-4 has-text-weight-medium">Relasionships</p>
            <p class="is-size-6 has-text-weight-thin">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
              beatae.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" style="padding-top: 0px;">
  <div class="section has-text-centered">
    <p class="is-size-1 is-size-2-mobile has-text-weight-bold">
      <span class="title-border">Latest Quotes</span>
    </p>
    <!-- <i class="far fa-thumbs-up"></i> -->
  </div>
  <div>
    <div class="columns is-multiline is-vcentered">
      {% for quote in quotes reversed %}
      <div class="column is-one-quarter">
        <div
          class="card has-background-light hover_scale"
          onclick="set_quote(this)"
          style="border: 1.5px solid rgba(128, 128, 128, 0.26);"
        >
          <div class="card-content">
            <p class="is-size-4 has-text-weight-bold" id="title">
              <sup
                ><span class="icon is-size-5"
                  ><i class="fas fa-quote-left"></i></span
              ></sup>
              {{quote.title}}
            </p>
            <p class="is-size-5" id="subtitle" style="opacity: 0.6;">
              by - {{quote.author}}.
            </p>
            <p class="id is-hidden">{{quote.id}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="modal quote_display">
      <div
        class="modal-background"
        onclick="this.parentElement.classList.remove('is-active')"
      ></div>
      <div class="modal-content notification">
        <p class="title">This is a dem quote</p>
        <p class="subtitle">-By escobar</p>
        {% if authentication %}
        <a class="button is-link is-outlined quote_edit">Edit </a>
        {% endif %}
      </div>
      <button
        class="modal-close is-large"
        onclick="this.parentElement.classList.remove('is-active')"
        aria-label="close"
      ></button>
    </div>
  </div>
  <div class="section">
    <p class="has-text-centered">
      <a class="button is-dark is-outlined is-medium" href="quotes">
        CLICK HERE TO SEE ALL QUOTES</a
      >
    </p>
  </div>
</div>

<div class="section has-background-light" style="padding-top: 0px;">
  <div class="section has-text-centered" style="padding-top: 0px;">
    <p class="is-size-1 has-text-weight-bold is-size-2-mobile">
      <span class="title-border">Latest Articles</span>
    </p>
  </div>
  <div class="tile is-ancestor is-vertical">
    <div class="section">
      {% for story in stories reversed %}
      <div
        class="tile stories_hover_txt"
        onclick="window.location = 'view_articles/{{story.id}}'"
      >
        <div class="tile is-parent is-4">
          <div class="tile is-child">
            <div class="columns is-mobile">
              <div class="column is-5">
                <figure class="image is-square">
                  {% if story.img %}
                  <img src="{{story.img.url}}" alt="" class="is-rounded" />
                  {% else %}
                  <img src="{{story.img_link}}" alt="" class="is-rounded" />
                  {% endif %}
                </figure>
              </div>
              <div class="column">
                <p class="less_opacity">Date :</p>
                <p>{{story.created_on}}</p>
                <br />
                <p class="less_opacity">Reading Time :</p>
                <p>{{story.read_time}} minute read</p>
                <br />
                <p class="less_opacity">Author :</p>
                <p>{{story.author}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent is-8">
          <div class="tile is-child">
            <p class="is-size-3 has-text-weight-bold">
              {{story.title}}
            </p>
            <br class="is-hidden-mobile" />
            <p class="is-size-4 is-size-5-mobile">
              {{story.subtitle | safe}}
            </p>
          </div>
        </div>
      </div>
      <hr />
      {% endfor %}
    </div>
  </div>
  <div class="section has-text-centered">
    <a class="button is-outlined is-dark is-medium" href="stories"
      >Click Here To See All Stories</a
    >
  </div>
</div>
<div class="section has-background-dark">
  <p class="title has-text-centered has-text-light">
    <span class="title-border">Our team</span>
  </p>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child section flex-center">
        <div class="has-text-light">
          <figure class="image flex-center">
            <img
              src="/static/img/team/niki.png"
              class="is-rounded"
              style="height: 200px; width: 200px;"
            />
          </figure>
          <br />
          <p class="is-size-4 has-text-centered less_opacity">
            Niki
          </p>
          <p class="is-size-5 has-text-centered less_opacity">
            Graphic Designer
          </p>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child section flex-center">
        <div class="has-text-light">
          <figure class="image flex-center">
            <img
              src="/static/img/team/dhruvin.png"
              class="is-rounded"
              style="height: 200px; width: 200px;"
            />
          </figure>
          <br />
          <p class="is-size-4 has-text-centered less_opacity">
            Dhruvin
          </p>
          <p class="is-size-5 has-text-centered less_opacity">
            Software-deveoper
          </p>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child section flex-center">
        <div class="has-text-light">
          <figure class="image flex-center">
            <img
              src="/static/img/team/desai.png"
              class="is-rounded"
              style="height: 200px; width: 200px;"
            />
          </figure>
          <br />
          <p class="is-size-4 has-text-centered less_opacity">
            Dhaval
          </p>
          <p class="is-size-5 has-text-centered less_opacity">
            Author | Marketer
          </p>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child section flex-center">
        <div class="has-text-light">
          <figure class="image flex-center">
            <img
              src="/static/img/team/harvik.png"
              class="is-rounded"
              style="height: 200px; width: 200px;"
            />
          </figure>
          <br />
          <p class="is-size-4 has-text-centered less_opacity">
            Hatvik
          </p>
          <p class="is-size-5 has-text-centered less_opacity">
            Content-Manager
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const nav = document.querySelector("nav");
  const brand_name = document.querySelector(".brand_name");
  const articles = document.querySelector(".articles");
  const submit = document.querySelector(".submit");
  let isTransparent = true;
  window.addEventListener("scroll", (event) => {
    if (window.pageYOffset > 30 && isTransparent) {
      nav.classList.add("is-info");
      nav.classList.remove("is-spaced");
      nav.style.backgroundColor = "";
      isTransparent = false;
      brand_name.classList.remove("has-text-black");
      articles.classList.remove("has-text-black");
      submit.classList.remove("has-text-black");
    }

    if (window.pageYOffset <= 50 && !isTransparent) {
      nav.classList.remove("is-info");
      nav.classList.add("is-spaced");
      nav.style.backgroundColor = "transparent";
      isTransparent = true;
      brand_name.classList.add("has-text-black");
      articles.classList.add("has-text-black");
      submit.classList.add("has-text-black");
    }
  });

  // QUOTE SELECTION
  const set_quote = (el) => {
    const quote_display = document.querySelector(".quote_display");
    quote_display.querySelector(".title").innerText = el.querySelector(
      "#title"
    ).innerText;
    quote_display.querySelector(".subtitle").innerText = el.querySelector(
      "#subtitle"
    ).innerText;
    quote_display.classList.add("is-active");
    quote_display.querySelector(".quote_edit").onclick = () => {
      window.location = `/edit_quote/${el.querySelector(".id").innerText}`;
    };
  };
  // navbar toggle
  document.addEventListener("DOMContentLoaded", () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0
    );

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    }
  });
</script>
{% endblock %}
