{% extends 'base.html' %} {% block content %}
<div class="section">
  <p class="title">
    {{action}} Quote
  </p>
  <form method="post">
    {% csrf_token %}
    <div class="field">
      <label class="label is-medium">Main Quote</label>
      <div class="control has-icons-left">
        <textarea
          type="text"
          class="input is-medium"
          placeholder="Main quote text"
          rows="4"
          name="title"
          style="height: auto; border: 2px solid #333333;"
        >
{{quote.title}}</textarea
        >
        <span class="icon is-small is-left" style="color: #333333;">
          <i class="fas fa-quote-left"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label class="label is-medium">Author</label>
      <div class="control">
        <input
          value="{{quote.author}}"
          style="border: 2px solid #333333;"
          type="text"
          class="input is-medium"
          placeholder="By -"
          name="author"
        />
      </div>
    </div>
    <div class="field">
      <label class="checkbox">
        <input type="checkbox" name="featured" />
        <input
          type="text"
          value="{{catagory}}"
          style="display: none;"
          name="catagory"
        />
        Featured (show on home page )
      </label>
    </div>
    <button class="button is-dark is-outlined">
      {% if action == 'Edit' %}
      <span class="icon"><i class="fas fa-save"></i></span> <span>Save</span>
      {% else %}
      <span class="icon"><i class="fas fa-plus"></i></span> <span>Create</span>
      {% endif %}
    </button>
  </form>
</div>
{% endblock %}
